<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度EasyDL模型在线识别</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        #wrap{
            width:800px;
            margin:0 auto;
            border:3px solid white;
        }
        #header{
            width:100%;
            border:3px solid white;
        }
        #main{
            width:100%;
            border:3px solid white;
        }
        #footer{
            width:100%;
            border:3px solid white;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div id="header">
    <h1 align="center">百度EasyDL模型在线识别</h1>
    </div>
    <div id="main">
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
        <br>
    </form>
    <br>
    <h1>所有预测结果值：</h1>
    <br>
    <h3>{{userinput}}</h3>
    <br>
    <h1>EasyDL模型觉得这张钞票的面值为：</h1>
    <br>
    <h3>{{bestuserinput}}元</h3>
    <br>
    <img src="{{ url_for('static', filename= './images/test.jpg',_t=val1) }}"  alt="你的图片被外星人劫持了～～"/>
        </div>
</div>
</body>
</html>
